.root {
    -fx-focus-traversable: false;
}

.transparent {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

.transparent:hover {
    -fx-background-color: #e5f3ff;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

.transparent:pressed {
    -fx-background-color: #cce8ff;
}

.table-view {
    -fx-border-width: 0;
    -fx-focus-traversable: false;
}

.column-header-background {
    /**hide header*/
    visibility: hidden;
    -fx-padding: -1em;
}

.table-column {
    -fx-alignment: center;
    -fx-border-color: transparent;
}

.table-row-cell:filled:selected {
    -fx-background: -fx-control-inner-background;
    -fx-background-color: -fx-table-cell-border-color, -fx-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-table-cell-border-color: derive(-fx-color, 5%);
}

.table-row-cell:odd:filled:selected {
    -fx-background: -fx-control-inner-background-alt;
}

.button.color-picker {
    -fx-color-label-visible: false;
}

.color-picker .picker-color {
    visibility: false;
}

.label:selected {
    -fx-text-fill: black;
}

.label:focused {
    -fx-text-fill: black;
}